src/__pycache__/
src/controller/__pycache__/
src/model/__pycache__/
src/view/__pycache__/
src/model/cycles/__pycache__/cycle_base.cpython-312.pyc
src/model/cycles/__pycache__/__init__.cpython-312.pyc       
src/model/cycles/__pycache__/cycle_base.cpython-312.pyc      
src/model/cycles/__pycache__/cycle_faceamento.cpython-312.pyc
src/controller/back_cycles/__pycache__/
src/model/cycles/__pycache__/