test.py
__pycache__
src/__pycache__/
src/view/__pycache__/
src/model/__pycache__/
src/controller/__pycache__/
src/model/cycles/__pycache__/
src/controller/events/__pycache__/
src/controller/manager_cycles/__pycache__/
src/model/cycles/cycles_funcionais/__pycache__/
src/controller/manager_cycles/cycles_funcionais/__pycache__/
src/controller/gcode_generator/cycles_funcionais/__pycache__/
src/controller/manager_cycles/cycles_parametrizados/__pycache__/
src/controller/gcode_generator/cycles_parametrizados/__pycache__/

src/model/cycles/__pycache__/cycle_base.cpython-312.pyc       
src/model/cycles/__pycache__/cycle_base.cpython-312.pyc      
src/model/cycles/__pycache__/cycle_faceamento.cpython-312.pyc